<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1",width=device-width>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="dark-toggle">
            <button id="modeToggle" onclick="toggleDarkMode()" aria-label="Toggle dark mode">🌙</button>
        </div>


        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script>
    
            const body = document.body

            const toggleBtn = document.getElementById('modeToggle')

            function setIcon() {
                toggleBtn.textContent = body.classList.contains('dark') ? '☀️' : '🌙'
            }

            function toggleDarkMode() {
               
                body.classList.toggle('dark')

                setIcon()

                localStorage.setItem('darkMode', body.classList.contains('dark') ? 'enabled' : 'disabled')
            }

            if (localStorage.getItem('darkMode') === 'enabled') {
                body.classList.add('dark')
                toggleBtn.textContent = '☀️'
            } else {
                toggleBtn.textContent = '🌙'
            }

            setIcon()
        </script>


    </body>
    
    </html>